---
interface BlogCardProps {
  title: string;
  description: string;
  pubDate: string;
  readTime: string;
  link: string;
  tags: string[];
  image: string;
}

const { title, description, pubDate, readTime, link, tags, image } =
  Astro.props;
---

<div class="w-11/12 lg:w-full">
  <div
    class="text-3xl xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl font-bold"
  >
    <a href={link} class="hover:underline leading-tight">{title}</a>
  </div>
  <div
    class="text-sm xl:text-lg lg:text-base md:text-base sm:text-base text-neutral-800"
  >
    <span>
      {
        new Date(pubDate).toLocaleDateString("en-US", {
          month: "long",
          day: "numeric",
          year: "numeric",
        })
      }
    </span>
    <span>•</span>
    <span>{readTime}</span>

    <div class="float-right flex gap-2">
      {
        tags.map((tag: any) => (
          <p>
            <a
              href={`/tags/${tag}`}
              class="text-sm xl:text-lg lg:text-base md:text-base text-neutral-800 sm:text-base underline"
            >
              {tag}
            </a>
          </p>
        ))
      }
    </div>
  </div>
</div>
