---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import PostMenu from "../components/PostMenu.astro";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={frontmatter.title + " - milk roll"}
      description={frontmatter.description}
    />
  </head>
  <PostMenu />
  <body>
    <main class="">
      <article class="md:max-w-3xl md:mx-auto mx-4 md:my-0 my-4">
        <h1 class="text-3xl md:text-5xl mb-4 md:leading-tight font-thin">
          {frontmatter.title}
        </h1>
        <img
          src={frontmatter.image}
          height={400}
          width={800}
          alt="Post Image"
        />
        <time datetime={frontmatter.pubDate} class="text-neutral-500 font-mono">
          Published:
          {
            new Date(frontmatter.pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
          <span class="float-right">
            {frontmatter.minutesRead} 📚
          </span>
        </time>
        <p class="text-neutral-500 text-base">
          <div class="flex space-x-3">
            {
              frontmatter.tags.map((tag: any) => (
                <a
                  href={`/tags/${tag}`}
                  class="text-black font-mono font-bold hover:decoration-emerald-500 hover:underline"
                >
                  <p>#{tag}</p>
                </a>
              ))
            }
          </div>
        </p>
      </article>
      <br />
      <article
        class="prose antialiased prose-headings:font-normal prose-h2:text-[2rem] prose-h2:leading-9 prose-headings:text-black prose-p:text-xl prose-p:leading-9 dark:prose-dark md:max-w-3xl md:mx-auto mx-4 md:my-0 my-4 prose-li:text-lg"
      >
        <slot />
      </article>
      <Footer />
    </main>
  </body>
</html>
