---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Menu from "../components/Menu.astro";
import Comments from "../components/Comments.svelte";

const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={frontmatter.title + " - milk roll"}
      description={frontmatter.description}
      image={frontmatter.image}
    />
  </head>
  <body class="bg-neutral-100 text-gray-900">
    <main>
      <article
        class="max-w-3xl antialiased md:mx-auto lg:max-w-5xl xl:max-w-6xl mx-4 md:my-0 my-4"
      >
        <Menu />
        <img
          src={frontmatter.image}
          height={1200}
          width={1200}
          alt="Post Image"
        />
        <h1
          class="md:leading-tight mt-12 text-3xl lg:text-6xl md:text-5xl sm:text-4xl font-bold"
        >
          {frontmatter.title}
        </h1>
        <div class="text-sm sm:text-lg my-8">
          <time datetime={frontmatter.pubDate}>
            published
            {
              new Date(frontmatter.pubDate).toLocaleDateString("en-us", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })
            } by <span class="font-bold">cade</span>
          </time>
          <ul class="flex">
            {
              frontmatter.tags.map((tag: any, idx: number) => (
                <li class={idx === 0 ? "" : "ml-2"}>
                  <a
                    href={`/tags/${tag}`}
                    class="text-sm sm:text-lg text-neutral-700 hover:text-gray-900 underline"
                  >
                    {tag}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <br />
        <article
          class="prose antialiased prose-headings:font-bold prose-h2:mt-12 prose-h2:text-3xl prose-h2:leading-10 prose-headings:text-neutral-800 prose-p:text-xl prose-p:leading-8 prose-p:text-neutral-800 md:max-w-3xl md:mx-auto max-w-3xl lg:max-w-4xl md:my-0 my-4 prose-li:text-lg prose-a:text-black-500"
        >
          <slot />
        </article>
        <div class="mt-10">
          <Comments client:load />
        </div>
        <Footer />
      </article>
    </main>
  </body>
</html>
